<button data-toggle="modal" class="btn btn-default" data-target="#airplaneModal">Add</button>

<h1>Airplane overview</h1>

<table id="airplaneTable" class="table">
    <thead>
    <tr>
        <th>Airplane Id</th>
        <th>Name</th>
        <th>Plane type</th>
        <th>Current fuel</th>
        <th>Fuel capacity</th>
    </tr>
    </thead>
    <tbody id="overviewBody">
    </tbody>
</table>

<div class="modal fade" id="airplaneModal">
    <div class="modal-dialog">
        <div class="modal-content" id="airplaneModalContainer">
            <script>
            $(document).ready(function(){
                loadModal("views/airplaneModal.html", "#airplaneModalContainer");
            });
            </script>
        </div>
    </div>
</div>