<button data-toggle="modal" class="btn btn-default" data-target="#flightModal">Add</button>

<h1>Flight overview</h1>

<table id="flightTable" class="table">
    <thead>
    <tr>
        <th>Flight Id</th>
        <th>Airplane</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Fuelcost</th>
    </tr>
    </thead>
    <tbody id="overviewBody">
    </tbody>
</table>

<div class="modal fade" id="flightModal">
    <div class="modal-dialog">
        <div class="modal-content" id="flightModalContainer">
            <script>
            $(document).ready(function(){
                loadModal("views/forms/flightModal.html", "#flightModalContainer");
            });
            </script>
        </div>
    </div>
</div>

<script src="js/getFlight.js"></script>