<div class="container">
    <row>
        <h1>Add Flight</h1>
    </row>
    <br>
    <form class="formcenter" data-toggle="validator" role="form" id="form">
        <div class="row form-group">
            <div class="col-25">
                <div class="control-label" id="flightId"></div>

            </div>
        </div>
        <div class="row form-group">
            <input id="submitButton" type="submit" value="Add Flight">
        </div>

    </form>
</div>

<script>
    $(document).ready(function(){
        $("#form").validator();
    });
</script>