<div class="container">
    <h1>New Flight</h1>
    <form data-toggle="validator" role="form" id="addPlaneForm">
        <div class="row form-group">
            <label for="planeName">Airplane</label>
            <input type="text" class="form-control" id="planeName" name="planeName" placeholder="Plane name" required>
        </div>
        <div class="row form-group">
            <label for="Origin">Origin</label>
            <input type="text" class="form-control" id="origin" name="origin" placeholder="Origin airport" required>
        </div>
        <div class="row form-group">
            <label for="Destination">Destination</label>
            <input type="text" class="form-control" id="destination" name="origin" placeholder="Destination airport" required>
        </div>
        <div class="row form-group">
            <label for=fuelCost>Fuel cost</label>
            <input type="number" class="form-control" id="fuelCost" name="roomCost" placeholder="Fuel cost" required>
        </div>
        <div class="row form-group">
            <input id="submitButton" class="btn btn-default" type="submit" value="Add Flight">
        </div>
    </form>
</div>

<!--Import the corresponding js-->
<script src="js/validator.js"></script>

