</div>
<div id="page">
    <div class="container">
        <div class="title">
            <h2>Demo application simulating an airport</h2>
            <p>Hi! Welcome to the webflight application. Your custom text can go here. Have fun :)</p>
        </div>
        <div class="boxA">
            <div class="box margin-btm">
                <img src="img/tile01.jpg" width="320" height="180" alt="" />
                <div class="details">
                    <p>See an overview and book a new flight here.</p>
                </div>
                <a href="#" class="button" onclick="changeContent('views/overviews/flightOverview.html')">More Details</a>
            </div>
        </div>
        <div class="boxB">
            <div class="box">
                <img src="img/tile02.jpg" width="320" height="280" alt="" />
                <div class="details">
                    <p>See an overview and manage your airplanes here.</p>
                </div>
                <a href="#" class="button" onclick="changeContent('views/overviews/airplaneOverview.html')">More details</a>
            </div>
        </div>
    </div>
</div>