<script src="js/overview.js"></script>

<button class="btn btn-default" onclick="addAirplane()">New</button>
<button class="btn btn-default" onclick="updateAirplane()">Edit</button>
<button class="btn btn-default" onclick="deleteAirplane()">Delete</button>

<h1>Airplane overview</h1>

<table id="airplaneTable" class="table">
    <thead>
    <tr>
        <th>Airplane Id</th>
        <th>...</th>
        <th>...</th>
        <th>...</th>
    </tr>
    </thead>
    <tbody id="overviewBody">
    </tbody>
</table>