<script src="js/getFlightTable.js"></script>

<button class="btn btn-default" onclick="addFlight()">New</button>
<button class="btn btn-default" onclick="updateFlight()">Edit</button>
<button class="btn btn-default" onclick="deleteFlight()">Delete</button>

<h1>Flight overview</h1>

<table id="flightTable" class="table">
    <thead>
    <tr>
        <th>Flight Id</th>
        <th>...</th>
        <th>...</th>
        <th>...</th>
    </tr>
    </thead>
    <tbody id="overviewBody">
    </tbody>
</table>